In [1]:
import pandas as pd
import numpy as np

### それぞれのcsvデータをmeteor_showers,moon_phases,constellations,citiesに格納してください

In [2]:
meteor_showers=pd.read_csv('meteorshowers.csv')
moon_phases=pd.read_csv('moonphases.csv')
constellations=pd.read_csv('constellations.csv')
cities=pd.read_csv('cities.csv')

In [3]:
meteor_showers.head()

,name,radiant,bestmonth,startmonth,startday,endmonth,endday,hemisphere,preferredhemisphere
0,Lyrids,Lyra,april,april,21,april,22,northern,northern
1,Eta Aquarids,Aquarius,may,april,19,may,28,"northern, southern",southern
2,Orionids,Orion,october,october,2,november,7,"northern, southern","northern, southern"
3,Perseids,Perseus,august,july,14,august,24,northern,northern
4,Leonids,Leo,november,november,6,november,30,"northern, southern","northern, southern"

In [4]:
meteor_showers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 5 non-null      object
 1   radiant              5 non-null      object
 2   bestmonth            5 non-null      object
 3   startmonth           5 non-null      object
 4   startday             5 non-null      int64
 5   endmonth             5 non-null      object
 6   endday               5 non-null      int64
 7   hemisphere           5 non-null      object
 8   preferredhemisphere  5 non-null      object
dtypes: int64(2), object(7)
memory usage: 488.0+ bytes

In [5]:
moon_phases.head()

     month  day      moonphase specialevent
0  january    1            NaN          NaN
1  january    2  first quarter          NaN
2  january    3            NaN          NaN
3  january    4            NaN          NaN
4  january    5            NaN          NaN

In [6]:
moon_phases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   month         366 non-null    object
 1   day           366 non-null    int64
 2   moonphase     50 non-null     object
 3   specialevent  10 non-null     object
dtypes: int64(1), object(3)
memory usage: 11.6+ KB

In [7]:
constellations.head()

  constellation bestmonth  latitudestart  latitudeend besttime hemisphere
0          Lyra    august             90          -40    21:00   northern
1      Aquarius   october             65          -90    21:00   southern
2         Orion   january             85          -75    21:00   northern
3       Perseus  december             90          -35    21:00   northern
4           Leo     april             90           65    21:00   northern

In [8]:
constellations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   constellation  5 non-null      object
 1   bestmonth      5 non-null      object
 2   latitudestart  5 non-null      int64
 3   latitudeend    5 non-null      int64
 4   besttime       5 non-null      object
 5   hemisphere     5 non-null      object
dtypes: int64(2), object(4)
memory usage: 368.0+ bytes

In [9]:
cities.head()

          city  latitude               country
0    Abu Dhabi     24.47  United Arab Emirates
1        Abuja      9.07               Nigeria
2        Accra      5.55                 Ghana
3    Adamstown    -25.07      Pitcairn Islands
4  Addis Ababa      9.02              Ethiopia

In [10]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   city      256 non-null    object
 1   latitude  256 non-null    float64
 2   country   256 non-null    object
dtypes: float64(1), object(2)
memory usage: 6.1+ KB

### 月をそれぞれ数字に変換し、mapメゾットを使って対象となる月を変換してください

In [11]:
moon_phases['month'].unique()

array(['january', 'february', 'march', 'april', 'may', 'june', 'july',
       'august', 'september', 'october', 'november', 'december'],
      dtype=object)

In [12]:
months={'january':1, 'february':2, 'march':3, 'april':4, 'may':5, 'june':6, 'july':7,
       'august':8, 'september':9, 'october':10, 'november':11, 'december':12}

In [13]:
meteor_showers['bestmonth']=meteor_showers['bestmonth'].map(months)
meteor_showers['startmonth']=meteor_showers['startmonth'].map(months)
meteor_showers['endmonth']=meteor_showers['endmonth'].map(months)
moon_phases['month']=moon_phases['month'].map(months)
constellations['bestmonth']=constellations['bestmonth'].map(months)

In [14]:
constellations.head()

  constellation  bestmonth  latitudestart  latitudeend besttime hemisphere
0          Lyra          8             90          -40    21:00   northern
1      Aquarius         10             65          -90    21:00   southern
2         Orion          1             85          -75    21:00   northern
3       Perseus         12             90          -35    21:00   northern
4           Leo          4             90           65    21:00   northern

In [15]:
moon_phases.head()

   month  day      moonphase specialevent
0      1    1            NaN          NaN
1      1    2  first quarter          NaN
2      1    3            NaN          NaN
3      1    4            NaN          NaN
4      1    5            NaN          NaN

In [16]:
meteor_showers.head()

,name,radiant,bestmonth,startmonth,startday,endmonth,endday,hemisphere,preferredhemisphere
0,Lyrids,Lyra,4,4,21,4,22,northern,northern
1,Eta Aquarids,Aquarius,5,4,19,5,28,"northern, southern",southern
2,Orionids,Orion,10,10,2,11,7,"northern, southern","northern, southern"
3,Perseids,Perseus,8,7,14,8,24,northern,northern
4,Leonids,Leo,11,11,6,11,30,"northern, southern","northern, southern"

### meteor_showers,moon_phasesをそれぞれdatetime型に変換し、startdate,enddate,dateカラムを新たに作成して格納してください。

In [17]:
meteor_showers['startdate']=pd.to_datetime(2020*10000+meteor_showers['startmonth']*100+meteor_showers['startday'],format='%Y%M%d')
meteor_showers['enddate']=pd.to_datetime(2020*10000+meteor_showers['endmonth']*100+meteor_showers['endday'],format='%Y%M%d')
moon_phases['date']=pd.to_datetime(2020*10000+moon_phases['month']*100+moon_phases['day'],format='%Y%M%d')

### hemisphereの部分を'northern':0,'southern':1,'northern,southern':3にかえてください

In [18]:
hemispheres={'northern':0,'southern':1,'northern,southern':3}

In [19]:
meteor_showers['hemisphere']=meteor_showers['hemisphere'].map(hemispheres)
meteor_showers['preferredhemisphere']=meteor_showers['preferredhemisphere'].map(hemispheres)
constellations['hemisphere']=constellations['hemisphere'].map(hemispheres)

### 月形の部分を'new moon':0,'first quarter':0.5,'third quarter':0.5,'full moon':1に変換してください

In [20]:
moon_phases['moonphase'].unique()

array([nan, 'first quarter', 'full moon', 'third quarter', 'new moon'],
      dtype=object)

In [21]:
phase={'new moon':0,'first quarter':0.5,'third quarter':0.5,'full moon':1}
moon_phases['percentage']=moon_phases['moonphase'].map(phase)

In [22]:
moon_phases.head()

   month  day      moonphase specialevent                date  percentage
0      1    1            NaN          NaN 2020-01-01 00:01:00         NaN
1      1    2  first quarter          NaN 2020-01-02 00:01:00         0.5
2      1    3            NaN          NaN 2020-01-03 00:01:00         NaN
3      1    4            NaN          NaN 2020-01-04 00:01:00         NaN
4      1    5            NaN          NaN 2020-01-05 00:01:00         NaN

### meteor_showersのstartmonth、startday、endmonth、endday、hemisphere、moon_phasesのmonth、day、moonphase、specialevent、constellationsのbesttimeを削除してください

In [23]:
meteor_showers=meteor_showers.drop(['startmonth','startday','endmonth','endday','hemisphere'],axis=1)
moon_phases=moon_phases.drop(['month','moonphase','specialevent'],axis=1)
constellations=constellations.drop(['besttime'],axis=1)

### moon_phasesの各行のindexと中身を抽出し、percentageがnullだったら過去一番最近の月相をpercentageに代入し、そうでなかったら過去最近一番の月相として保存してください

In [33]:
for idx,value in moon_phases.iterrows():
    lastmonth=0
    if pd.isnull(moon_phases):
        moon_phases.at[idx,'percentage']=lastmonth
    else:
        moon_phases['percentage']==lastmonth

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [34]:
pd.isnull(moon_phases['percentage'])==True

0       True
1      False
2       True
3       True
4       True
       ...
361     True
362     True
363    False
364     True
365     True
Name: percentage, Length: 366, dtype: bool

In [26]:
moon_phases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   day         366 non-null    int64
 1   date        366 non-null    datetime64[ns]
 2   percentage  50 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 8.7 KB

In [ ]:
cities.head()

### 都市の緯度を特定し、その都市の緯度を取得する関数を作成する

In [ ]:
def predict_best_meteor_shower_viewing(city):

### その地域の緯度が星座が見える緯度の最小値と最大値の範囲内にその地域の緯度が収まると見える最座のリストを作成してください。また、対象の都市が入力されなかったときのエラー文の出力も行ってください。

In [ ]:
def predict_best_meteor_shower_viewing(city):

### ①都市を入れるとその年の緯度を取得する。
### ②その年の緯度と経度の情報をもとに見える星座のリストを作成する
### ③入力した都市がその範囲になかった場合のエラー文を作成する
### ④ 星座のリストと流星群データに星座のリストを照合しその時の流星群の名前を抽出する
### ⑤ 同様に見え始めた時間と見え終えた時間の情報を取得する
### ⑥ その流星群が見えている時間の間の月相の情報を取得する
### ⑦ 月相の情報の中で最も明るさが小さい日時の情報を取得する
### ⑧ これらの情報をもとに見える流星群の名前、どの星座が輝く方向を見るべきか、どの時刻が最適かを文章で出力する